<h1> Esta es la pagina de bienvenida de strix, someday....</h1>

 <a href="#">
    <%= image_tag "Under_creation.jpg" %> 
    <%= image_tag "sleep_under.jpg" %>
    <%= image_tag "animer_under.jpg" %>
 </a>
 
 <p> Son varias imagenes para probar el scroll</p>