<h1> Esta es la pagina de bienvenida de strix, someday....</h1>

 <a href="#">
  
  <%= image_tag "Under_creation.jpg" %> 
  <%= image_tag "sleep_under.jpg" %>
  <% if user_signed_in? %>
   <%= image_tag "animer_under.jpg" %>
   <!--<%= image_tag "Doodles/mr_owl_s_dance_by_yannickbouchard-d7kqo62.gif" %>-->
  <% end %>
    
 </a>
 
 <p> Son varias imagenes para probar el scroll</p>
 <h3 class="ribbon-title">Ubicación y Contacto</h3>
 <a name="ubicacion" ></a> 

 <div class="fluid-wrapper">
   <iframe src="https://www.google.com/maps/d/embed?mid=zv6bLBsdDJTk.kD4GC6KeFoYY" width="90%" height="420"></iframe>
 </div>


 