<h1> Esta es la pagina de bienvenida de strix, someday....</h1>

 <a href="#">
  
  <%= image_tag "Under_creation.jpg" %> 
  <%= image_tag "sleep_under.jpg" %>
  <% if user_signed_in? %>
   <%= image_tag "animer_under.jpg" %>
  <% end %>
    
 </a>
 
 <p> Son varias imagenes para probar el scroll</p>
 <h4>Ubicacion:</h4>
 <a name="ubicacion"></a> 
 <div class= container >
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1544.9189378495312!2d-66.84682684450475!3d10.496754116439826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sve!4v1438813854612" 
  width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
   
  </iframe>
 </div>