<h1> Esta es la pagina de bienvenida de strix, someday....</h1>

 <a href="#">
  
  <%= image_tag "Under_creation.jpg" %> 
  <%= image_tag "sleep_under.jpg" %>
  <% if user_signed_in? %>
   <%= image_tag "animer_under.jpg" %>
  <% end %>
    
 </a>
 
 <p> Son varias imagenes para probar el scroll</p>
 <h4>Ubicacion:</h4>
 <a name="ubicacion"></a> 
 <!--<div class= container >-->
 <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1544.9189378495312!2d-66.84682684450475!3d10.496754116439826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sve!4v1438813854612" -->
 <!-- width="800" height="400" frameborder="0" style="border:0" allowfullscreen>-->
   
 <!-- </iframe>-->
 <!--</div>-->
 
 <div id="ubicacion" class="grid12 mt20">
      <!-- <div id='map'></div> -->
        <iframe style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Escuela%20de%20Dise%C3%B1o%20Web%2C%20Avenida%20El%20Parque%2C%20Caracas%2C%20Miranda%2C%20Venezuela&amp;key=AIzaSyD8MUxrf_c58HID_Ecl786oCHjBEtMlSqE" frameborder="0" height="500" width="940"></iframe>
      <!-- <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zHMawVVXOAAU.kRwLRUuVRr6M" width="940" height="500"></iframe> -->
      <br>
      <small></small>
    </div>
    
    <div id="main" class="row">
			<section id="laescuela" class="grid12">
  <header class="center">
    <!-- <h1 class="direfencias content-main-title">¿Qué caracteriza a La Escuela Web?</h1>
    <h2 class="alumnos-egresados center pb60">Más de <span class="azul alumnos-egresados-contador"> 1359 </span> egresados. </h2>
    <h2 class="alumnos-egresados center pb60">Hemos dictado un total de <span class="azul alumnos-egresados-contador"> 173  </span> cursos </h2> -->
    <h1>
      Escuela Web es un centro de formación con <br>
      <span class="azul">
        Clases presenciales y en línea
      </span>
    </h1>
    <h4>
      Contamos con más de <b> 1359 </b> alumnos egresados
    </h4>
  </header>
  <section id="modulos" class="row pt40">
    <article class="module-c grid4 center">
  <header>
    <!-- <div class="module-c-icon icons white big"></div> -->
		<img alt="Iconos round 60 ffb904fea4eeb4a7f0fd9bd7229635b41f620ab36c7e28d3d5b18df60af5f7ea" src="/assets/iconos-round/iconos-round_60-ffb904fea4eeb4a7f0fd9bd7229635b41f620ab36c7e28d3d5b18df60af5f7ea.gif">
    <h3 class="module-c-title">Clases en vivo</h3>
  </header>
  <div class="module-c-content">
    <p>
      Nuestra plataforma cuenta con un sistema de clases en vivo; donde no solo puedes ver la clase, sino también: Recibir y enviar archivos compartidos al instante, realizar preguntas e interactuar con el instructor, mantener notas de la clase que estas recibiendo y mas.
    </p>
  </div>
</article>
<article class="module-c grid4 center">
	<header>
		<!-- <div class="module-c-icon icons white big"></div> -->
		<img alt="Iconos round 13 3b25fb4f7bd2d376eae4b954dcef090aa0e566c0940185a09555b57b0c091a27" src="/assets/iconos-round/iconos-round_13-3b25fb4f7bd2d376eae4b954dcef090aa0e566c0940185a09555b57b0c091a27.gif">
		<h3 class="module-c-title">Certificación</h3>
	</header>
	<div class="module-c-content">
		<p>
			Al realizar un curso, tanto presencial como en línea, te otorgaremos un certificado al culminar el proceso de evaluación. Nuestra certificación es validada por medio de un URL único, por lo que tu certificado será fácilmente validable en cualquier parte del mundo.
		</p>
	</div>
</article>

<article class="module-c grid4 center">
	<header>
		<!-- <div class="module-c-icon icons white big"></div> -->
		<img alt="Icons 58 18357cab7166ad31ad44c7cddd4222ca738e652dde03b0fba5e5e2c390ceaca4" class="pt10" src="/assets/round-icons/icons-58-18357cab7166ad31ad44c7cddd4222ca738e652dde03b0fba5e5e2c390ceaca4.png" width="190">
		<h3 class="module-c-title pt10">Interacción en clases</h3>
	</header>
	<div class="module-c-content">
		<p>
			En nuestro sistema en línea, no solo vas a ver y escuchar al instructor sino que también tendrás la posibilidad de hacer preguntas en la clase, compartir y recibir archivos al instante con el instructor y tus otros compañeros de aula virtual.
		</p>
	</div>
</article>

<div class="clearfix clear pt40"></div>

<article class="module-c grid4 center">
  <header>
    <!-- <div class="module-c-icon icons white big"></div> -->
    <img alt="Icons 16 b5d814a262868236eb9093a1d34cc0796a5d9d64f812d23a6a572d665b86466b" src="/assets/round-icons/icons-16-b5d814a262868236eb9093a1d34cc0796a5d9d64f812d23a6a572d665b86466b.png" width="190">
    <h3 class="module-c-title pt10">Tú defines el tiempo</h3>
  </header>
  <div class="module-c-content">
    <p>
      Las clases en vivo tienen una modalidad que busca ajustarse al tiempo libre de nuestro alumnado, pero si eso no funciona para ti ¡no hay problema! la clase quedará grabada para que puedas realizar el curso bajo tu propio esquema de disponibilidad.
    </p>
  </div>
</article>

<article class="module-c grid4 center">
  <header>
    <!-- <div class="module-c-icon icons white big"></div> -->
    <img alt="Icons 12 cefc38f0db9424c1648b6c75d14f59334b23003bcb8ec4f5123cc80ab7d48c95" src="/assets/round-icons/icons-12-cefc38f0db9424c1648b6c75d14f59334b23003bcb8ec4f5123cc80ab7d48c95.png" width="190">
    <h3 class="module-c-title pt10">Sistema de apuntes</h3>
  </header>
  <div class="module-c-content">
    <p>
      Mientras estas en nuestra clase en vivo, tendrás la posiblidad de crear tus propias notas y descargarlas en formato Markdown o guardarlas dentro de la plataforma para crear tu cuaderno de apuntes, para consulta en cualquier momento.
    </p>
  </div>
</article>

<article class="module-c grid4 center">
  <header>
    <!-- <div class="module-c-icon icons white big"></div> -->
    <img alt="Icons 47 c609e0688dba83b7fd42bafb5a44372a63bc79cf401d260f141c171168579e91" src="/assets/round-icons/icons-47-c609e0688dba83b7fd42bafb5a44372a63bc79cf401d260f141c171168579e91.png" width="190">
    <h3 class="module-c-title pt10">Seguimiento de metas</h3>
  </header>
  <div class="module-c-content">
    <p>
      Nuestros instructores siempre seguirán tu avance para asegurar que puedas culminar el curso de manera exitosa, validando la culminación de retos, ejercicios y proyectos que se inicien dentro del curso, de esa manera lograr mayor efectividad.
    </p>
  </div>
</article>

<div class="clearfix clear pt40"></div>

<article class="module-c grid4 center">
  <header>
    <!-- <div class="module-c-icon icons white big"></div> -->
    <img alt="Icons 50 7957eff88f638d6ca589676a0d3a75cf9882f9c7b6fa9d022dfc7e5c162063eb" class="pt20" src="/assets/round-icons/icons-50-7957eff88f638d6ca589676a0d3a75cf9882f9c7b6fa9d022dfc7e5c162063eb.png" width="190">
    <h3 class="module-c-title pt20">Sistema de discusión</h3>
  </header>
  <div class="module-c-content">
    <p>
      El cual siempre estará activo para ti. Lo que permitirá aclarar dudas sobre cualquiera de los temas que se toquen en clase y de los que no también. Lo que permitirá que tanto compañeros dentro de la comunidad como el instructor puedan apoyarse en ellos.
    </p>
  </div>
</article>

<article class="module-c grid4 center">
  <header>
    <!-- <div class="module-c-icon icons white big"></div> -->
    <img alt="Iconos round 64 33189f7cd359761b7fd0d5cf392020f5de5c195ad955509b7a0fb5ed9f83b609" src="/assets/iconos-round/iconos-round_64-33189f7cd359761b7fd0d5cf392020f5de5c195ad955509b7a0fb5ed9f83b609.gif">
    <h3 class="module-c-title">Vivas donde vivas</h3>
  </header>
  <div class="module-c-content">
    <p>
      Podrás acceder a nuestro sistema vivas donde vivas, no existe ninguna limitante de locación para ser parte de nuestra comunidad educativa.
    </p>
  </div>
</article>

<article class="module-c grid4 center">
  <header>
    <!-- <div class="module-c-icon icons white big"></div> -->
    <img alt="Iconos round 38 6042e0188d1f9d25a171a2c8f4e7d991d5c399dd30e62342a346b8bd7e2a0c78" class="pt10" src="/assets/iconos-round/iconos-round_38-6042e0188d1f9d25a171a2c8f4e7d991d5c399dd30e62342a346b8bd7e2a0c78.gif">
    <h3 class="module-c-title">La mejor inversión</h3>
  </header>
  <div class="module-c-content">
    <p>
      Nuestros cursos están estructurados de manera modular, lo que te permite invertir bajo tu propio esquema. Te garantizamos que aprenderás más de lo que imaginas y disfrutarás del uso de nuestra plataforma y de esa manera convertirte en un profesional del área web.
    </p>
  </div>
</article>

  </section><!-- #modulos -->
</section> <!-- #laescuela -->

			<section id="calendario" class="grid12">
				<header>
					<h3 class="titulo_calendario ribbon-title">Próximos Cursos</h3>
				</header>
				<div class="">
						<div class="fecha hide-xs hide-sm show-md show-lg">
	<div class="diagonal-ribbon presencial">
		presencial
	</div>
	<div class="row">
		<div class="badged grid2 center">
			<a class="with_image" href="/courses/desarrollo-de-videojuegos-en-html5/events/1621">
				<img alt="Desarrollo de Videojuegos en HTML5" src="/assets/development_mid.png" width="100">
</a>		</div>
		<!-- .badget -->
		<div class="description grid10">
			<h4 class="title">
				<a href="/courses/desarrollo-de-videojuegos-en-html5/events/1621">Desarrollo de Videojuegos en HTML5</a>
				<span class="subtitle azul">
					22 de agosto del 2015 -
					26 de septiembre del 2015
				</span>
			</h4>
			<div class="row">
				<ul class="detail grid8">
					<li>
						<span class="icono icons fecha_f">k</span>
						<span class="label">Turno</span>
						<span class="info">Sabatino</span>
					</li>
					<li>
						<span class="icono icons horario">c</span>
						<span class="label">Horario</span>
						<span class="info">los sabados</span>
						<span class="info local-time">09:00 am</span>
						<span class="info local-time">01:46 pm</span>
					</li>
					<li>
						<span class="icono icons duracion">*</span>
						<span class="label">Duración</span>
						<span class="info">25 Hrs</span>
					</li>
					<li>
						<span class="icono icons capacidad">b</span>
						<span class="label">Capacidad</span>
						<span class="info">8</span>
					</li>
					<li>
						<span class="icono icons"></span>
						<span class="label">Costo</span>
						<span class="info">9.000,00 Bs</span>
					</li>
				</ul>
				<div class="reserve grid4">
					<a class="btn btn-h btn-wicon anchor mr10" data-method="get" href="/events/1621/register">
						Inscribirse <i class="btn-wicon-icon icons">]</i>
</a>				</div>
			</div>
		</div>
		<!-- .description -->
	</div>
</div>
<!-- .fecha -->
<div class="fecha hide-xs hide-sm show-md show-lg">
	<div class="diagonal-ribbon presencial">
		presencial
	</div>
	<div class="row">
		<div class="badged grid2 center">
			<a class="with_image" href="/courses/gerencia-de-proyectos-web/events/1632">
				<img alt="Curso de Gerencia de Proyectos Web" src="/assets/manager_mid.png" width="100">
</a>		</div>
		<!-- .badget -->
		<div class="description grid10">
			<h4 class="title">
				<a href="/courses/gerencia-de-proyectos-web/events/1632">Curso de Gerencia de Proyectos Web</a>
				<span class="subtitle azul">
					25 de agosto del 2015 -
					17 de septiembre del 2015
				</span>
			</h4>
			<div class="row">
				<ul class="detail grid8">
					<li>
						<span class="icono icons fecha_f">k</span>
						<span class="label">Turno</span>
						<span class="info">Nocturno</span>
					</li>
					<li>
						<span class="icono icons horario">c</span>
						<span class="label">Horario</span>
						<span class="info">Martes y Jueves</span>
						<span class="info local-time">06:00 pm</span>
						<span class="info local-time">08:30 pm</span>
					</li>
					<li>
						<span class="icono icons duracion">*</span>
						<span class="label">Duración</span>
						<span class="info">24 Hrs</span>
					</li>
					<li>
						<span class="icono icons capacidad">b</span>
						<span class="label">Capacidad</span>
						<span class="info">8</span>
					</li>
					<li>
						<span class="icono icons"></span>
						<span class="label">Costo</span>
						<span class="info">12.000,00 Bs</span>
					</li>
				</ul>
				<div class="reserve grid4">
					<a class="btn btn-h btn-wicon anchor mr10" data-method="get" href="/events/1632/register">
						Inscribirse <i class="btn-wicon-icon icons">]</i>
</a>				</div>
			</div>
		</div>
		<!-- .description -->
	</div>
</div>
<!-- .fecha -->
<div class="fecha hide-xs hide-sm show-md show-lg">
	<div class="diagonal-ribbon presencial">
		presencial
	</div>
	<div class="row">
		<div class="badged grid2 center">
			<a class="with_image" href="/courses/gerencia-de-proyectos-web/events/1626">
				<img alt="Curso de Gerencia de Proyectos Web" src="/assets/manager_mid.png" width="100">
</a>		</div>
		<!-- .badget -->
		<div class="description grid10">
			<h4 class="title">
				<a href="/courses/gerencia-de-proyectos-web/events/1626">Curso de Gerencia de Proyectos Web</a>
				<span class="subtitle azul">
					07 de septiembre del 2015 -
					23 de septiembre del 2015
				</span>
			</h4>
			<div class="row">
				<ul class="detail grid8">
					<li>
						<span class="icono icons fecha_f">k</span>
						<span class="label">Turno</span>
						<span class="info">Nocturno</span>
					</li>
					<li>
						<span class="icono icons horario">c</span>
						<span class="label">Horario</span>
						<span class="info">Lunes, miércoles y viernes</span>
						<span class="info local-time">06:00 pm</span>
						<span class="info local-time">08:30 pm</span>
					</li>
					<li>
						<span class="icono icons duracion">*</span>
						<span class="label">Duración</span>
						<span class="info">24 Hrs</span>
					</li>
					<li>
						<span class="icono icons capacidad">b</span>
						<span class="label">Capacidad</span>
						<span class="info">8</span>
					</li>
					<li>
						<span class="icono icons"></span>
						<span class="label">Costo</span>
						<span class="info">12.000,00 Bs</span>
					</li>
				</ul>
				<div class="reserve grid4">
					<a class="btn btn-h btn-wicon anchor mr10" data-method="get" href="/events/1626/register">
						Inscribirse <i class="btn-wicon-icon icons">]</i>
</a>				</div>
			</div>
		</div>
		<!-- .description -->
	</div>
</div>
<!-- .fecha -->
<div class="fecha hide-xs hide-sm show-md show-lg">
	<div class="diagonal-ribbon presencial">
		presencial
	</div>
	<div class="row">
		<div class="badged grid2 center">
			<a class="with_image" href="/courses/desarrollo-web-con-ruby-on-rails/events/1627">
				<img alt="Desarrollo Web con Ruby on Rails" src="/assets/development_mid.png" width="100">
</a>		</div>
		<!-- .badget -->
		<div class="description grid10">
			<h4 class="title">
				<a href="/courses/desarrollo-web-con-ruby-on-rails/events/1627">Desarrollo Web con Ruby on Rails</a>
				<span class="subtitle azul">
					22 de septiembre del 2015 -
					15 de octubre del 2015
				</span>
			</h4>
			<div class="row">
				<ul class="detail grid8">
					<li>
						<span class="icono icons fecha_f">k</span>
						<span class="label">Turno</span>
						<span class="info">Nocturno</span>
					</li>
					<li>
						<span class="icono icons horario">c</span>
						<span class="label">Horario</span>
						<span class="info">Martes y jueves</span>
						<span class="info local-time">06:00 pm</span>
						<span class="info local-time">08:30 pm</span>
					</li>
					<li>
						<span class="icono icons duracion">*</span>
						<span class="label">Duración</span>
						<span class="info">25 Hrs</span>
					</li>
					<li>
						<span class="icono icons capacidad">b</span>
						<span class="label">Capacidad</span>
						<span class="info">8</span>
					</li>
					<li>
						<span class="icono icons"></span>
						<span class="label">Costo</span>
						<span class="info">14.000,00 Bs</span>
					</li>
				</ul>
				<div class="reserve grid4">
					<a class="btn btn-h btn-wicon anchor mr10" data-method="get" href="/events/1627/register">
						Inscribirse <i class="btn-wicon-icon icons">]</i>
</a>				</div>
			</div>
		</div>
		<!-- .description -->
	</div>
</div>
<!-- .fecha -->
<div class="fecha hide-xs hide-sm show-md show-lg">
	<div class="diagonal-ribbon presencial">
		presencial
	</div>
	<div class="row">
		<div class="badged grid2 center">
			<a class="with_image" href="/courses/diseno-web-html5-css3/events/1631">
				<img alt="Curso de Diseño Web HTML5  y CSS3 desde cero" src="/assets/design_mid.png" width="100">
</a>		</div>
		<!-- .badget -->
		<div class="description grid10">
			<h4 class="title">
				<a href="/courses/diseno-web-html5-css3/events/1631">Curso de Diseño Web HTML5  y CSS3 desde cero</a>
				<span class="subtitle azul">
					28 de septiembre del 2015 -
					23 de octubre del 2015
				</span>
			</h4>
			<div class="row">
				<ul class="detail grid8">
					<li>
						<span class="icono icons fecha_f">k</span>
						<span class="label">Turno</span>
						<span class="info">Nocturno</span>
					</li>
					<li>
						<span class="icono icons horario">c</span>
						<span class="label">Horario</span>
						<span class="info">Lunes, miércoles y viernes</span>
						<span class="info local-time">06:00 pm</span>
						<span class="info local-time">08:30 pm</span>
					</li>
					<li>
						<span class="icono icons duracion">*</span>
						<span class="label">Duración</span>
						<span class="info">36 Hrs</span>
					</li>
					<li>
						<span class="icono icons capacidad">b</span>
						<span class="label">Capacidad</span>
						<span class="info">10</span>
					</li>
					<li>
						<span class="icono icons"></span>
						<span class="label">Costo</span>
						<span class="info">15.000,00 Bs</span>
					</li>
				</ul>
				<div class="reserve grid4">
					<a class="btn btn-h btn-wicon anchor mr10" data-method="get" href="/events/1631/register">
						Inscribirse <i class="btn-wicon-icon icons">]</i>
</a>				</div>
			</div>
		</div>
		<!-- .description -->
	</div>
</div>
<!-- .fecha -->
<div class="fecha hide-xs hide-sm show-md show-lg">
	<div class="diagonal-ribbon online">
		online
	</div>
	<div class="row">
		<div class="badged grid2 center">
			<a class="with_image" href="/courses/desarrollo-de-videojuegos-en-html5/events/1628">
				<img alt="Desarrollo de Videojuegos en HTML5" src="/assets/development_mid.png" width="100">
</a>		</div>
		<!-- .badget -->
		<div class="description grid10">
			<h4 class="title">
				<a href="/courses/desarrollo-de-videojuegos-en-html5/events/1628">Desarrollo de Videojuegos en HTML5</a>
				<span class="subtitle azul">
					03 de octubre del 2015 -
					31 de octubre del 2015
				</span>
			</h4>
			<div class="row">
				<ul class="detail grid8">
					<li>
						<span class="icono icons fecha_f">k</span>
						<span class="label">Turno</span>
						<span class="info">Sabatino</span>
					</li>
					<li>
						<span class="icono icons horario">c</span>
						<span class="label">Horario</span>
						<span class="info">sabados</span>
						<span class="info local-time">09:00 am</span>
						<span class="info local-time">10:30 am</span>
					</li>
					<li>
						<span class="icono icons duracion">*</span>
						<span class="label">Duración</span>
						<span class="info">25 Hrs</span>
					</li>
					<li>
						<span class="icono icons capacidad">b</span>
						<span class="label">Capacidad</span>
						<span class="info">10</span>
					</li>
					<li>
						<span class="icono icons"></span>
						<span class="label">Costo</span>
						<span class="info">12.000,00 Bs</span>
					</li>
				</ul>
				<div class="reserve grid4">
					<a class="btn btn-h btn-wicon anchor mr10" data-method="get" href="/events/1628/register">
						Inscribirse <i class="btn-wicon-icon icons">]</i>
</a>				</div>
			</div>
		</div>
		<!-- .description -->
	</div>
</div>
<!-- .fecha -->

						<div class="grid6">
	<article class="module-t hide-md hide-lg show-xs show-sm">
		<div class="diagonal-ribbon presencial">
			presencial
		</div>
		<div class="module-t-image center">
			<a class="with_image" href="/courses/desarrollo-de-videojuegos-en-html5/events/1621">
				<img alt="Desarrollo de Videojuegos en HTML5" src="/assets/development_mid.png" width="100">
</a>		</div>
		<!-- .badget -->
		<div class="module-t-detail">
			<header class="mb20">
				<h4 class="title center mt0 mb20">
					<a href="/courses/desarrollo-de-videojuegos-en-html5/events/1621">Desarrollo de Videojuegos en HTML5</a>
				</h4>
				<h5 class="azul mt0 center">
						22 de agosto del 2015 -
						26 de septiembre del 2015
				</h5>
			</header>
			<div class="action mt20">
				<ul class="detail">
					<li>
						<span class="icono icons fecha_f icons-huge">k</span>
						<!-- <span class="label">Turno</span> -->
						<span class="info">Sabatino</span>
					</li>
					<li>
						<span class="icono icons horario icons-huge">c</span>
						<!-- <span class="label">Horario</span> -->
						<span class="info"><span class="local-time">09:00 am</span></span>
						<span class="info"><span class="local-time">01:46 pm</span></span>
					</li>
					<li>
						<span class="icono icons duracion icons-huge">*</span>
						<!-- <span class="label">Duración</span> -->
						<span class="info">25 Hrs</span>
					</li>
					<li>
						<span class="icono icons capacidad icons-huge">b</span>
						<!-- <span class="label">Capacidad</span> -->
						<span class="info">8</span>
					</li>
					<li>
						<span class="icono icons icons-huge"></span>
						<!-- <span class="label">Costo</span> -->
						<span class="info">9.000,00 Bs</span>
					</li>
				</ul>
			</div>
				<div class="reserve">
					<a class="anchor center btn" data-method="get" href="/events/1621/register">Inscribirse</a>
				</div>
		</div>
	</article>
</div>
<!-- .fecha -->
<div class="grid6">
	<article class="module-t hide-md hide-lg show-xs show-sm">
		<div class="diagonal-ribbon presencial">
			presencial
		</div>
		<div class="module-t-image center">
			<a class="with_image" href="/courses/gerencia-de-proyectos-web/events/1632">
				<img alt="Curso de Gerencia de Proyectos Web" src="/assets/manager_mid.png" width="100">
</a>		</div>
		<!-- .badget -->
		<div class="module-t-detail">
			<header class="mb20">
				<h4 class="title center mt0 mb20">
					<a href="/courses/gerencia-de-proyectos-web/events/1632">Curso de Gerencia de Proyectos Web</a>
				</h4>
				<h5 class="azul mt0 center">
						25 de agosto del 2015 -
						17 de septiembre del 2015
				</h5>
			</header>
			<div class="action mt20">
				<ul class="detail">
					<li>
						<span class="icono icons fecha_f icons-huge">k</span>
						<!-- <span class="label">Turno</span> -->
						<span class="info">Nocturno</span>
					</li>
					<li>
						<span class="icono icons horario icons-huge">c</span>
						<!-- <span class="label">Horario</span> -->
						<span class="info"><span class="local-time">06:00 pm</span></span>
						<span class="info"><span class="local-time">08:30 pm</span></span>
					</li>
					<li>
						<span class="icono icons duracion icons-huge">*</span>
						<!-- <span class="label">Duración</span> -->
						<span class="info">24 Hrs</span>
					</li>
					<li>
						<span class="icono icons capacidad icons-huge">b</span>
						<!-- <span class="label">Capacidad</span> -->
						<span class="info">8</span>
					</li>
					<li>
						<span class="icono icons icons-huge"></span>
						<!-- <span class="label">Costo</span> -->
						<span class="info">12.000,00 Bs</span>
					</li>
				</ul>
			</div>
				<div class="reserve">
					<a class="anchor center btn" data-method="get" href="/events/1632/register">Inscribirse</a>
				</div>
		</div>
	</article>
</div>
<!-- .fecha -->
<div class="grid6">
	<article class="module-t hide-md hide-lg show-xs show-sm">
		<div class="diagonal-ribbon presencial">
			presencial
		</div>
		<div class="module-t-image center">
			<a class="with_image" href="/courses/gerencia-de-proyectos-web/events/1626">
				<img alt="Curso de Gerencia de Proyectos Web" src="/assets/manager_mid.png" width="100">
</a>		</div>
		<!-- .badget -->
		<div class="module-t-detail">
			<header class="mb20">
				<h4 class="title center mt0 mb20">
					<a href="/courses/gerencia-de-proyectos-web/events/1626">Curso de Gerencia de Proyectos Web</a>
				</h4>
				<h5 class="azul mt0 center">
						07 de septiembre del 2015 -
						23 de septiembre del 2015
				</h5>
			</header>
			<div class="action mt20">
				<ul class="detail">
					<li>
						<span class="icono icons fecha_f icons-huge">k</span>
						<!-- <span class="label">Turno</span> -->
						<span class="info">Nocturno</span>
					</li>
					<li>
						<span class="icono icons horario icons-huge">c</span>
						<!-- <span class="label">Horario</span> -->
						<span class="info"><span class="local-time">06:00 pm</span></span>
						<span class="info"><span class="local-time">08:30 pm</span></span>
					</li>
					<li>
						<span class="icono icons duracion icons-huge">*</span>
						<!-- <span class="label">Duración</span> -->
						<span class="info">24 Hrs</span>
					</li>
					<li>
						<span class="icono icons capacidad icons-huge">b</span>
						<!-- <span class="label">Capacidad</span> -->
						<span class="info">8</span>
					</li>
					<li>
						<span class="icono icons icons-huge"></span>
						<!-- <span class="label">Costo</span> -->
						<span class="info">12.000,00 Bs</span>
					</li>
				</ul>
			</div>
				<div class="reserve">
					<a class="anchor center btn" data-method="get" href="/events/1626/register">Inscribirse</a>
				</div>
		</div>
	</article>
</div>
<!-- .fecha -->
<div class="grid6">
	<article class="module-t hide-md hide-lg show-xs show-sm">
		<div class="diagonal-ribbon presencial">
			presencial
		</div>
		<div class="module-t-image center">
			<a class="with_image" href="/courses/desarrollo-web-con-ruby-on-rails/events/1627">
				<img alt="Desarrollo Web con Ruby on Rails" src="/assets/development_mid.png" width="100">
</a>		</div>
		<!-- .badget -->
		<div class="module-t-detail">
			<header class="mb20">
				<h4 class="title center mt0 mb20">
					<a href="/courses/desarrollo-web-con-ruby-on-rails/events/1627">Desarrollo Web con Ruby on Rails</a>
				</h4>
				<h5 class="azul mt0 center">
						22 de septiembre del 2015 -
						15 de octubre del 2015
				</h5>
			</header>
			<div class="action mt20">
				<ul class="detail">
					<li>
						<span class="icono icons fecha_f icons-huge">k</span>
						<!-- <span class="label">Turno</span> -->
						<span class="info">Nocturno</span>
					</li>
					<li>
						<span class="icono icons horario icons-huge">c</span>
						<!-- <span class="label">Horario</span> -->
						<span class="info"><span class="local-time">06:00 pm</span></span>
						<span class="info"><span class="local-time">08:30 pm</span></span>
					</li>
					<li>
						<span class="icono icons duracion icons-huge">*</span>
						<!-- <span class="label">Duración</span> -->
						<span class="info">25 Hrs</span>
					</li>
					<li>
						<span class="icono icons capacidad icons-huge">b</span>
						<!-- <span class="label">Capacidad</span> -->
						<span class="info">8</span>
					</li>
					<li>
						<span class="icono icons icons-huge"></span>
						<!-- <span class="label">Costo</span> -->
						<span class="info">14.000,00 Bs</span>
					</li>
				</ul>
			</div>
				<div class="reserve">
					<a class="anchor center btn" data-method="get" href="/events/1627/register">Inscribirse</a>
				</div>
		</div>
	</article>
</div>
<!-- .fecha -->
<div class="grid6">
	<article class="module-t hide-md hide-lg show-xs show-sm">
		<div class="diagonal-ribbon presencial">
			presencial
		</div>
		<div class="module-t-image center">
			<a class="with_image" href="/courses/diseno-web-html5-css3/events/1631">
				<img alt="Curso de Diseño Web HTML5  y CSS3 desde cero" src="/assets/design_mid.png" width="100">
</a>		</div>
		<!-- .badget -->
		<div class="module-t-detail">
			<header class="mb20">
				<h4 class="title center mt0 mb20">
					<a href="/courses/diseno-web-html5-css3/events/1631">Curso de Diseño Web HTML5  y CSS3 desde cero</a>
				</h4>
				<h5 class="azul mt0 center">
						28 de septiembre del 2015 -
						23 de octubre del 2015
				</h5>
			</header>
			<div class="action mt20">
				<ul class="detail">
					<li>
						<span class="icono icons fecha_f icons-huge">k</span>
						<!-- <span class="label">Turno</span> -->
						<span class="info">Nocturno</span>
					</li>
					<li>
						<span class="icono icons horario icons-huge">c</span>
						<!-- <span class="label">Horario</span> -->
						<span class="info"><span class="local-time">06:00 pm</span></span>
						<span class="info"><span class="local-time">08:30 pm</span></span>
					</li>
					<li>
						<span class="icono icons duracion icons-huge">*</span>
						<!-- <span class="label">Duración</span> -->
						<span class="info">36 Hrs</span>
					</li>
					<li>
						<span class="icono icons capacidad icons-huge">b</span>
						<!-- <span class="label">Capacidad</span> -->
						<span class="info">10</span>
					</li>
					<li>
						<span class="icono icons icons-huge"></span>
						<!-- <span class="label">Costo</span> -->
						<span class="info">15.000,00 Bs</span>
					</li>
				</ul>
			</div>
				<div class="reserve">
					<a class="anchor center btn" data-method="get" href="/events/1631/register">Inscribirse</a>
				</div>
		</div>
	</article>
</div>
<!-- .fecha -->
<div class="grid6">
	<article class="module-t hide-md hide-lg show-xs show-sm">
		<div class="diagonal-ribbon online">
			online
		</div>
		<div class="module-t-image center">
			<a class="with_image" href="/courses/desarrollo-de-videojuegos-en-html5/events/1628">
				<img alt="Desarrollo de Videojuegos en HTML5" src="/assets/development_mid.png" width="100">
</a>		</div>
		<!-- .badget -->
		<div class="module-t-detail">
			<header class="mb20">
				<h4 class="title center mt0 mb20">
					<a href="/courses/desarrollo-de-videojuegos-en-html5/events/1628">Desarrollo de Videojuegos en HTML5</a>
				</h4>
				<h5 class="azul mt0 center">
						03 de octubre del 2015 -
						31 de octubre del 2015
				</h5>
			</header>
			<div class="action mt20">
				<ul class="detail">
					<li>
						<span class="icono icons fecha_f icons-huge">k</span>
						<!-- <span class="label">Turno</span> -->
						<span class="info">Sabatino</span>
					</li>
					<li>
						<span class="icono icons horario icons-huge">c</span>
						<!-- <span class="label">Horario</span> -->
						<span class="info"><span class="local-time">09:00 am</span></span>
						<span class="info"><span class="local-time">10:30 am</span></span>
					</li>
					<li>
						<span class="icono icons duracion icons-huge">*</span>
						<!-- <span class="label">Duración</span> -->
						<span class="info">25 Hrs</span>
					</li>
					<li>
						<span class="icono icons capacidad icons-huge">b</span>
						<!-- <span class="label">Capacidad</span> -->
						<span class="info">10</span>
					</li>
					<li>
						<span class="icono icons icons-huge"></span>
						<!-- <span class="label">Costo</span> -->
						<span class="info">12.000,00 Bs</span>
					</li>
				</ul>
			</div>
				<div class="reserve">
					<a class="anchor center btn" data-method="get" href="/events/1628/register">Inscribirse</a>
				</div>
		</div>
	</article>
</div>
<!-- .fecha -->

				</div>
			</section>
			<!-- #calendario -->

			<section id="ubicacionycontacto" class="grid12">
  <header>
    <h3 class="ribbon-title">Ubicación y Contacto</h3>
  </header>
  <div class="row">
    <div id="ubicacion" class="grid12 mt20">
      <!-- <div id='map'></div> -->
        <iframe style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Escuela%20de%20Dise%C3%B1o%20Web%2C%20Avenida%20El%20Parque%2C%20Caracas%2C%20Miranda%2C%20Venezuela&amp;key=AIzaSyD8MUxrf_c58HID_Ecl786oCHjBEtMlSqE" frameborder="0" height="500" width="940"></iframe>
      <!-- <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zHMawVVXOAAU.kRwLRUuVRr6M" width="940" height="500"></iframe> -->
      <br>
      <small></small>
    </div>
    <div id="pagosContacto" class="grid6 mt30">
      <div class="contacto">
        <h2>Datos de contacto</h2>
        <div class="row">
          <div class="telefono grid6">
            <h5 class="azul mb10">Teléfonos</h5>
            <p>
              +58 (212) 953.01.46
              <br>+58 (212) 414.67.24</p>
            <h5 class="azul mb10 mt10">Correo Electronico</h5>
            <p>
              <a href="mailto:master@escuelaweb.co?subject=feedback">master@escuelaweb.co</a>
              <br>
              <a href="mailto:info@escuelaweb.co?subject=informacion">info@escuelaweb.co</a>
            </p>
          </div>
          <div class="hora grid6">
            <h5 class="azul mb10">Horarios de Atención</h5>
            <p>
              Lunes a Viernes
              <br>8:30 am - 1:00 pm / 1:30 pm - 5:00 pm</p>
            <h5 class="azul mb10 mt10">Redes Sociales</h5>
            <p>
              Twitter:
              <a target="_blank" href="http://www.twitter.com/escuelawebla" title="Twitter Escuela">@escuelawebla</a>
              <br>
              Facebook:
              <a target="_blank" href="http://www.facebook.com/escuelaweb" title="Twitter Escuela">EscuelaWeb En Facebook</a>
            </p>
          </div>
        </div>
      </div>
      <!-- .contacto -->
    </div>
    <!-- pagosContacto -->
    <div class="grid6">
      <div class="metodos">
        <h2>Métodos de pago</h2>
        <p>
          La Escuela Web te ofrece un servicio integrado donde puedes inscribirte, reservar y realizar pagos directamente desde nuestra plataforma Web, sin tener que salir de la comodidad de tu hogar. Nuestra plataforma te permitirá cancelar por medio de Transferencia, Deposito Bancario o Tarjeta de crédito (MercadoPago).
        </p>
        <br>
        <div class="row">
            <div class="pago grid4">
              <img alt="mercantil" src="/assets/mercantil.jpg"></div>
            <div class="pago grid4">
              <img alt="transferencia" src="/assets/tarjeta.png"></div>
            <div class="pago grid4">
              <img alt="mercadopago" src="/assets/mercadopago.png"></div>
        </div>
      </div>
      <!-- .metodos -->
    </div>
  </div>
</section>

			<!-- UbicacionYContacto -->
		</div>