<html>
  <body>
      <!--<a href="https://strix-torreta.c9.io">-->
      <!--  <%= image_tag "logoandname.png" %> -->
      <!--</a>-->
    <p> Strix Technologies: </p>
    
    <%= yield %>
    
    
  </body>
</html>
